.calendar {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 200px;
  width: 707px;

  @for $i from 1 through 31 {
    & > :nth-child(#{$i}) {
      display: flex;
      justify-content: center;
      align-items: center;
      @include marginBetweenBlocks(1px);
      @include blockSize(100px);
      background-color: #eee;
      border: 1px solid #000;
    }

    & > :nth-child(#{$i})::after {
      content: "#{$i}";
      font-size: 30px;
      font-family: Arial, Helvetica, sans-serif;
    }

    & > :nth-child(#{$i}):hover {
      background-color: pink;
      transform: translate(0, -20px);
      transition: 0.5s;
      cursor: pointer;
    }
  }
}

@each $day, $num_day in $days {
  .calendar-#{$day} > :first-child {
    margin-left: $num_day * 100px + $num_day * 1px;
  }
}

@for $i from 28 through 31 {
  .calendar-#{$i} > :nth-child(n + #{$i + 1}) {
    display: none;
  }
}
